@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Karla:wght@700&display=swap');

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs {
  margin: 32px 0 20px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.input1 {
  width: 230px;
  height: 35px;
  border: 1px solid #D5D4D8;
  border-radius: 5px;
  padding: 8px;
}

.input1::placeholder {
  transform: translateY(-3px);
  font-size: 12px;
  font-weight: 400;
  font-family: 'Karla', sans-serif;
}

.input2 {
  width: 230px;
  height: 35px;
  border: 1px solid #D5D4D8;
  border-radius: 5px;
  padding: 8px;
}

.input2::placeholder {
  transform: translateY(-3px);
  font-size: 12px;
  font-weight: 400;
  font-family: 'Karla', sans-serif;
}

.submit-btn {
  width: 482px;
  height: 40px;
  background: linear-gradient(#711F8D, #A818DA);
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.8px;
  line-height: 15px;
  text-align: center;
  padding: 12px;
  border-radius: 5px;
 }

 .btn-txt {
  font-family: 'Karla', sans-serif;
 }
