@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap');

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background: linear-gradient(#672280, #A626D3);
}

.nav-logo {
  gap: 10px;
  display: flex;
  align-items: center;
}

.logoImg {
  width: 31.31px;
}

.logo-title {
  font-family: 'Karla', sans-serif;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 20.75px;
  letter-spacing: -1px;
}

.nav-sub-title {
  font-weight: 400;
  font-size: 13px;
  color: #ffffff;
  margin-right: 20px;
}
